body{
    background-color:hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family:"Work-Sans";
    src: local(Work-Sans),
    url('/assets/fonts/WorkSans-VariableFont_wght.tff') format(truetype);
    font-weight: normal;
    font-style: normal;
}

.faqbox{
    font-family: "Work-Sans";
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
}

h1, h4{
    color: hsl(292, 42%, 14%);
}

p{
    color: hsl(292, 16%, 49%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }